.navbar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 5px;
    align-items: center;
    position: sticky;  
    position: -webkit-sticky;
    bottom: 40px;
}
.cart-container{
    position: relative;
}
.cart-value{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 12px;
}