/*styling the browse input*/
.search-icon{
    color:var(--chakra-colors-gray-400);
}
.search-icon:hover{
    cursor: pointer;
}
.search-icon:active{
    color:var(--chakra-colors-gray-500);
}

/* panel that contains the list of users and the table with orders */
.users-orders-panel{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}


/* left side of the panel that contains only the list of users */
.users-list button{
    justify-content: flex-start;/* align items within the buttons to the left */
}


.paginator-container{
/*     display: flex;
    flex-direction: column; */
    /* margin-top: 20px; */
    --pagination-color: var(--chakra-colors-teal-600);
    --pagination-hover-color: var(--chakra-colors-teal-200);/* #454648; */
    --pagination-bg: transparent/* change to app theme */
}
.pagination-dark{
    --pagination-active-color:var(--chakra-colors-gray-800);
}
.pagination-light{
    --pagination-active-color:var(--chakra-colors-gray-100);
}