/* main container from the Catalog.tsx, this holds the CatalogFilter and a right panel that contains the ProductGrid component */
.container{
    display: flex;
    flex-direction: row;
}
.search-icon{
    color:var(--chakra-colors-gray-400);
}
.search-icon:hover{
    cursor: pointer;
}
.search-icon:active{
    color:var(--chakra-colors-gray-500);
}

/* styling for the left panel that contains the filter component  */
.filter{
    border-radius: 5px 5px 0 0;
    padding-top: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 200px;
    /* align-items: center; */
    min-height: 100vh;
}
.filter-title-border{
    margin-right: 10px;
    border-radius: 0 5px 5px 0;
    content: "";
    width: 5px;
    height: 100%;
    background-color: #ca3232;
    background-color: var(--chakra-colors-teal-500);
}
.filter.light{
    background-color: var(--chakra-colors-gray-50);
    border:1px solid var(--chakra-colors-gray-100);
    box-shadow: -2px 10px 15px 3px rgb(0, 0, 0, 0.080);
}
.filter.dark{
    background-color: var(--chakra-colors-gray-900);
    border:1px solid var(--chakra-colors-gray-900);
    box-shadow: -2px 10px 15px 3px rgba(0, 0, 0, 0.344);
}


/* styling for the right panel section that contains the search input element and the ProductGrid component */
.right-container{
    padding-top: 30px;
    padding-left: 20px;
}



/* grid container from ProductGrid.tsx */
.product-list-container{
    --pagination-color: var(--chakra-colors-gray-400);
    --pagination-active-color:#454648;
    --pagination-hover-color: #454648;
    --pagination-bg: transparent/* change to app theme */
}
