.light{
    color: var(--chakra-colors-gray-600);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.055);
}
.dark{
    color: var(--chakra-colors-gray-400);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.205);
}


/* Product Dashboard */
.search-bar{
    display: flex;
    align-items: center;
}
.stats{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}



/* AddProduct.tsx */
.title{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    flex-wrap: wrap;
    border-radius: 8px;
    align-items: center;
}
.inputs-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .inputs-container {
        flex-direction: column; /* Change the flex direction to column for smaller screens */
        row-gap: 10px; /* Add gap between items in column direction */
    }
}



/* general information section */
.general-information{
    padding: 20px 30px;
    border-radius: 8px;
}



/* pricing section */
.pricing{
    margin-top: 15px;
    padding: 20px 30px;
    border-radius: 8px;
}
.pricing-inputs{
    display: flex;
    flex-direction: row;
}



/* categories section */
.categories{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 8px;
    
}


/* product images section */
.product-image{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 8px;
}
.imagelabel{
    margin-top: 15px;
    padding: 8px;
    background-color: rgba(59, 59, 59, 0.221);
    border-radius: 5px;
}
.imagelabel:hover{
    background-color: rgba(59, 59, 59, 0.142);
    cursor: pointer;
}