.account-option {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  .menu-items {
    position: relative;
    font-size: 14px;
  }
  
  .dropdown {
    position: absolute;
    right: -30px;
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    border-radius: 0.5rem;
    display: none;
  }
  
  .dropdown.show {
    display: flex;
    flex-direction: column;
  }