@font-face {
    font-family: 'abnes';
    src: url('/src/fonts/FontsFree-Net-abnes.ttf') format('truetype');
}
.header{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;/* set items at the center of the pane */
    justify-content: center;/* set items horizontally in the middle */
    padding: 20px 120px 0px 120px;
}
.container{/* container for title and middle pane and buttons */
    display: flex;
    column-gap: 15px;
    align-items: center;/* set items at the center of the pane */
    justify-content: center;/* set items horizontally in the middle */
    margin: 5px;
}

/* styling the span of the brand title */
.span{
    background: linear-gradient(0deg, #e53e3e, #941414);
    /* background: linear-gradient(0deg, var(--chakra-colors-teal-600), var(--chakra-colors-teal-800)); */
    font-family: abnes;
    padding: 0px 5px;
    vertical-align: 3px;
    margin-left:3px;
    display: inline-block;/* fit the background to the font size */
    border-radius: 4px;
    font-size: 20px;  /* 24px; */
    color: beige;
}

/* styling the cart icon */
.cart-container{
    position: relative;
}
.cart-value{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20px;
    width: 21px;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    left: 28px;
}
